.pop-up-full-stack {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pop-up-full-stack .overlap-wrapper-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 45.9%,
    rgba(73.5, 73.5, 73.5, 0.43) 84.9%,
    rgba(0, 0, 0, 0.21) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 10px;
  height: 510px;
  overflow: hidden;
  width: 350px;
}

.pop-up-full-stack .overlap-2 {
  height: 470px;
  position: relative;
  top: 26px;
}

.pop-up-full-stack .mobile-pop-up-total-energies {
  border-radius: unset !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.pop-up-full-stack .design-component-instance-node {
  left: 155px !important;
  top: 430px !important;
}
