/* screen - frame-47-1 */

.frame-47-1 {
  display: flex;
  flex-direction: column;
  min-height: 425px;
  min-width: 502px;
  overflow: hidden;
  width: 100%;
}

.frame-47-1 .x31-1 {
  height: 425px;
  margin-left: 1304px;
  margin-top: -9771px;
  width: 500px;
}

.frame-47-1 .android-developer-0m3xeqfvwcisdodg {
  margin-left: 1304px;
  margin-top: 40px;
}

.frame-47-1 .android-developer-ledu48pvwl9fgxzw {
  margin-top: 8881px;
}

.frame-47-1 .group-46 {
  background-color: #031424;
  border-radius: 50px;
  width: 500px;
}

.frame-47-1 .rectangle-77 {
  height: 425px;
  margin-left: 1304px;
  margin-top: -11091px;
  width: 500px;
}

.frame-47-1 .group-45 {
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 500px;
}

.frame-47-1 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-77.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  margin-top: -11091px;
  min-width: 500px;
  padding: 0 152px;
}

.frame-47-1 .rectangle-78 {
  height: 425px;
  width: 193px;
}

.frame-47-1 .android-developer {
  height: 425px;
  object-fit: cover;
  width: 500px;
}

.frame-47-1 .group {
  display: flex;
  margin-top: 15px;
}
