/* screen - ui-mobile-application-pop-up */

.ui-mobile-application-pop-up {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 45.9%, rgba(73.5, 73.5, 73.5, 0.43) 84.9%, rgba(0, 0, 0, 0.21) 100%);
  background-color: rgba(255,255,255,1.0);
  border-radius: 10px;
  display: flex;
  min-height: 549px;
  min-width: 999px;
  overflow: hidden;
  width: 100%;
}

.ui-mobile-application-pop-up .ui-mobile-application {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(20px) brightness(100%);
  border-radius: 10px;
  display: flex;
  gap: 38px;
  height: 549px;
  justify-content: flex-end;
  min-width: 999px;
  padding: 0 38px;
}

.ui-mobile-application-pop-up .frame-52 {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 425px;
  overflow: hidden;
  width: 500px;
}

.ui-mobile-application-pop-up .rectangle-95 {
  height: 425px;
  margin-left: -3967px;
  margin-top: -2784.5px;
  width: 500px;
}

.ui-mobile-application-pop-up .group-47 {
  background: linear-gradient(180deg, rgb(1, 10, 39) 0%, rgb(3.62, 36.15, 141) 100%);
  margin-top: 2359.5px;
}

.ui-mobile-application-pop-up .smart-vacuum-app {
  height: 425px;
  margin-left: 37px;
  object-fit: cover;
  width: 196px;
}

.ui-mobile-application-pop-up .smart-vacuum-app-1 {
  height: 425px;
}

.ui-mobile-application-pop-up .group-49 {
  background: linear-gradient(180deg, rgb(1, 10, 39) 0%, rgb(3.62, 36.15, 141) 100%);
  height: 425.0px;
  margin-top: 10px;
}

.ui-mobile-application-pop-up .smart-vacuum-app-2 {
  height: 425.17px;
  margin-left: 37px;
}

.ui-mobile-application-pop-up .group-50 {
  background: linear-gradient(180deg, rgb(1, 10, 39) 0%, rgb(3.62, 36.15, 141) 100%);
  height: 425.0px;
  margin-top: 10.2px;
}

.ui-mobile-application-pop-up .group-51 {
  background: linear-gradient(180deg, rgb(195, 246, 141) 0%, rgb(114.15, 144, 82.54) 100%);
  height: 425.0px;
  margin-top: 10.2px;
}

.ui-mobile-application-pop-up .jounery-makers-4-1 {
  height: 425px;
  margin-left: -3930px;
  margin-top: -4525px;
  width: 196px;
}

.ui-mobile-application-pop-up .jounery-makers-13 {
  height: 425px;
  margin-top: -4525px;
  width: 196px;
}

.ui-mobile-application-pop-up .frame-57 {
  align-items: center;
  display: flex;
  width: 383px;
}

.ui-mobile-application-pop-up .as-a-skilled-ui-desi {
  height: 200px;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: -16px;
  text-align: center;
  width: 383px;
}

.ui-mobile-application-pop-up .group {
  display: flex;
  gap: 34px;
  width: 500px;
}

.ui-mobile-application-pop-up .smart-vacuum-app-3 {
  object-fit: cover;
  width: 196px;
}
