/* screen - ux-documentation-pop-up */

.ux-documentation-pop-up {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 45.9%, rgba(73.5, 73.5, 73.5, 0.43) 84.9%, rgba(0, 0, 0, 0.21) 100%);
  background-color: rgba(255,255,255,1.0);
  border-radius: 10px;
  display: flex;
  min-height: 549px;
  min-width: 999px;
  overflow: hidden;
  width: 100%;
}

.ux-documentation-pop-up .ux-documentation {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(20px) brightness(100%);
  border-radius: 10px;
  display: flex;
  gap: 38px;
  height: 549px;
  overflow: hidden;
  padding: 0 38px;
  width: 999px;
}

.ux-documentation-pop-up .frame-51 {
  background-image: url(../img/rectangle-93.png);
  background-size: 100% 100%;
  border-radius: 50px;
  display: flex;
  gap: 3467px;
  margin-left: 2px;
  overflow: hidden;
  width: 500px;
}

.ux-documentation-pop-up .rectangle-93 {
  height: 425px;
  margin-left: -3967px;
  margin-top: -3415px;
  width: 500px;
}

.ux-documentation-pop-up .rectangle-93-1 {
  height: 425px;
  margin-top: 870px;
  object-fit: cover;
  width: 500px;
}

.ux-documentation-pop-up .frame-57 {
  align-items: center;
  display: flex;
  width: 383px;
}

.ux-documentation-pop-up .as-a-skilled-ux-desi {
  height: 200px;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: -12px;
  text-align: center;
  width: 383px;
}
