/* screen - work-exp-pop-up-itu */

.work-exp-pop-up-itu {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 45.9%, rgba(73.5, 73.5, 73.5, 0.43) 84.9%, rgba(0, 0, 0, 0.21) 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  min-height: 549px;
  min-width: 999px;
  width: 100%;
}

.work-exp-pop-up-itu .work-exp-itu {
  align-items: center;
  display: flex;
  gap: 50px;
  height: 549px;
  padding: 0 29px;
  width: 999px;
}

.work-exp-pop-up-itu .frame-103 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 58px;
  width: 825px;
}

.work-exp-pop-up-itu .at-international-tec {
  height: 425px;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
  width: 825px;
}

.work-exp-pop-up-itu .span1 {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.work-exp-pop-up-itu .group-103 {
  align-items: flex-start;
  display: flex;
  height: 307px;
  justify-content: center;
  min-width: 8px;
}

.work-exp-pop-up-itu .overlap-group {
  align-items: flex-start;
  background-color: #d9d9d9;
  border: 1.5px solid;
  border-color: #616161;
  border-radius: 50px;
  display: flex;
  height: 310px;
  margin-top: -1.5px;
  min-width: 11px;
}

.work-exp-pop-up-itu .rectangle-119 {
  background: linear-gradient(180deg, rgb(181, 23, 158) 0%, rgb(247, 37, 133) 100%);
  border-radius: 50px;
  height: 259px;
  width: 8px;
}
